.register-dialog-header {
  display: flex;
  justify-content: end;
  svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.register-dialog-body {
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .register-header {
    h3 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
    }
  }
  .register-middle {
    display: grid;
    row-gap: 20px;
    input {
      min-width: 100%;
      border: none;
      border-radius: 8px;
      background: #f7f7f7;
      padding: 2vh;
      &:focus-visible {
        outline: 1px solid black;
      }
    }
    button {
      border: none;
      background: #51267d;
      color: white;
      border-radius: 8px;
      padding: 1.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .register-footer {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
      font-size: 16px;
    }
  }
}

@media all and (max-width: 500px) {
  .register-middle {
    input {
      width: 100% !important;
      margin: 0 auto !important;
    }
    button {
      width: 100% !important;
      margin: 0 auto !important;
    }
  }
  .register-footer {
    display: block !important;
  }
}
