.MuiDialog-paper {
  padding: 3vh !important;
  min-width: 422px !important;
  height: auto !important;
  border-radius: 12px !important;
}

.register-dialog-header {
  display: flex;
  justify-content: end;
  svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.register-dialog-body {
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .register-middle {
    display: grid;
    row-gap: 20px;
    input {
      border: none;
      border-radius: 8px;
      background: #f7f7f7;
      padding: 2vh;
      &:focus-visible {
        outline: 1px solid black;
      }
    }
  }
  button {
    border: none;
    background: #51267d;
    color: white;
    border-radius: 8px;
    padding: 2vh;
  }
  .register-footer {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}
