@font-face {
  font-family: Proxima-Nova;
  src: url(fonts/ProximaNova-Regular/ProximaNova-Regular.db098dc77c7aafe660e58e9eb280be48.ttf)
    format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Proxima-Nova, sans-serif;
}

body {
  max-width: 100% !important;
  height: 100% !important;
  overflow-x: hidden !important;
  background: #f6f6f6 !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #51267d;
  border-radius: 12px;
}

.MuiPaper-root {
  overflow-y: hidden !important;
}

.dropdown-menu.show {
  position: fixed !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.flag-dropdown {
  display: none !important;
}

.form-control {
  box-shadow: none !important;
  min-width: 100% !important;
}

ul {
  list-style: none !important;
}

.Profile_Drop li:hover {
  color: #51267d !important;
}

.phone-input-qwerty {
  padding: 3vh !important;
}

.MuiDialog-paper {
  padding: 3vh !important;
  min-width: 422px !important;
  height: auto !important;
  border-radius: 12px !important;
}

img {
  user-select: none !important;
}

.topbar {
  height: 12px !important;
}

@media all and (max-width: 500px) {
  .MuiDialog-paper {
    margin: 0 !important;
    min-width: 95% !important;
    max-width: 95% !important;
    max-height: auto !important;
    overflow: hidden !important;
    padding: 2vh !important;
  }
}
